In [2]:
from openbb import obb

In [4]:
# Get the price of a stock
quote_data = obb.equity.price.quote(symbol="AAPL", provider="yfinance")
quote_data

OBBject[T]

id: 068c3b88-2cf8-7dc5-8000-402c2b4fb012
results: [{'symbol': 'AAPL', 'asset_type': 'EQUITY', 'name': 'Apple Inc.', 'exchang...
provider: yfinance
warnings: None
chart: None
extra: {'metadata': {'arguments': {'provider_choices': {'provider': 'yfinance'}, 's...

In [5]:
quote_data.to_df()

,symbol,asset_type,name,exchange,bid,bid_size,ask,ask_size,last_price,open,...,low,volume,prev_close,year_high,year_low,ma_50d,ma_200d,volume_average,volume_average_10d,currency
0,AAPL,EQUITY,Apple Inc.,NMS,229.91,2,230.08,2,230.03,226.875,...,226.65,49962970,226.79,260.1,169.21,220.6932,221.48994,54849675.0,53932140.0,USD

In [6]:
obb.equity.price.historical(symbol="AAPL", provider="yfinance").to_df()

                  open        high         low       close    volume  dividend
date
2024-09-12  222.500000  223.550003  219.820007  222.770004  37455600       0.0
2024-09-13  223.580002  224.039993  221.910004  222.500000  36766600       0.0
2024-09-16  216.539993  217.220001  213.919998  216.320007  59357400       0.0
2024-09-17  215.750000  216.899994  214.500000  216.789993  45519300       0.0
2024-09-18  217.550003  222.710007  217.539993  220.690002  59894900       0.0
...                ...         ...         ...         ...       ...       ...
2025-09-05  240.000000  241.320007  238.490005  239.690002  54870400       0.0
2025-09-08  239.300003  240.149994  236.339996  237.880005  48999500       0.0
2025-09-09  237.000000  238.779999  233.360001  234.350006  66313900       0.0
2025-09-10  232.190002  232.419998  225.949997  226.789993  83440800       0.0
2025-09-11  226.880005  230.449997  226.649994  230.029999  50150900       0.0

[250 rows x 6 columns]

In [ ]:
obb